.wrapper{
	width: 100%;
	overflow: hidden;
	position: relative;
	//background-image: url("../img/main-bg.jpg");
	//background-repeat: no-repeat;
	//background-position: center top;
	min-height: 100%;
	//padding-bottom: 144px;
}